.main{
margin: 0 25px;
flex-grow: 1;
}
.main-item{
    color: black;
    flex-grow: 1;
}

.collection {
    border: 0;
}

.container{
    display: flex;
    align-items: center;
    border: white;
}

.RightPart{
    display: flex;
    flex-grow: 1;
}

.item{
    background: #F5F5F5;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    width: 100%;
    align-items: baseline;
    background: #F5F5F5;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    margin: 5px auto;
    padding: 0 20px;
}

.itemsNames{
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.itemsNames h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.item_place{
    font-size: 24px;
    color: #5A5A5A;

}

.item_name{
    color: #2CBB3A;
}


.ArrowIcon{
    margin-top: 20px;
}

.playerButtons{
    margin-left: 50px;
}

.ingredients h4{
    margin-top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    color: #2CBB3A;
}

.smth {
    display: flex;
    align-items: center;
}

.topDiv{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.ingredientItem{
    padding-left: 25px;
}