/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btnPage {
    @apply px-4 py-3 ml-4 z-10 text-sm text-white font-DMSans transition-all transform inline-block bg-primary rounded-lg shadow cursor-pointer select-none min-w-min place-self-center active:shadow-sm active:translate-y-px;
  }
  .btnLanguage {
    @apply px-4 py-3 ml-4 z-10 text-lg font-light font-sans transition-all transform inline-block bg-white cursor-pointer select-none min-w-min active:border-0 active:mr-1 active:translate-y-px;
  }
  .btnStatus {
    @apply pl-0 pr-2 px-4 py-3 ml-4 text-sm font-sans transition-all transform inline-block rounded-lg cursor-pointer select-none min-w-min place-self-center active:translate-y-px;
  }
  .order {
    @apply mb-2 flex-col rounded-2xl mx-auto sm:flex-row items-center text-sm bg-white shadow-customShadow select-none min-w-min;
  }
  .heading-list {
    @apply absolute text-right w-full -left-0 rounded-none bg-white top-9 flex justify-center rounded-br-lg rounded-bl-lg shadow-md;
  }
}
