/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-3 ml-4 text-sm  transition-all transform inline-block bg-white rounded-lg shadow cursor-pointer select-none min-w-min place-self-center active:shadow-sm active:translate-y-px;
  }
  .order {
    @apply p-8 flex flex-col rounded-2xl mx-auto sm:flex-row items-center text-sm  transition-all transform bg-white shadow cursor-pointer select-none min-w-min place-self-center active:shadow-sm active:translate-y-px;
  }
}
