/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btnPage {
    @apply px-4 py-3 ml-4 z-10 text-sm text-white font-sans transition-all transform inline-block bg-primary-myGreen rounded-lg shadow cursor-pointer select-none min-w-min place-self-center active:shadow-sm active:translate-y-px;
  }
  .btnLanguage {
    @apply px-4 py-3 ml-4 z-10 text-lg font-light font-sans transition-all transform inline-block bg-white cursor-pointer select-none min-w-min active:border-0 active:mr-1 active:translate-y-px;
  }
  .btnStatus {
    @apply w-24 h-11 px-4 py-3 ml-4 z-10 text-sm text-white font-sans transition-all transform inline-block bg-primary-gray rounded-lg shadow cursor-pointer select-none min-w-min place-self-center active:text-mainText active:shadow-sm active:translate-y-px;
  }
  .order {
    @apply mb-4 flex-col rounded-2xl mx-auto sm:flex-row items-center text-sm  transition-all transform bg-white shadow-customShadow cursor-pointer select-none min-w-min place-self-center;
  }
  .heading-list {
    @apply absolute w-full -left-0 rounded-none bg-white top-9 flex justify-center rounded-br-lg rounded-bl-lg shadow-md;
  }
  /* active:shadow-sm active:translate-y-px */
}
/* .heading-list {
  position: absolute;
  width: 100%;
  left: 0px;
  border-radius: 0px;
  background: #fff;
  top:40px;
  display: flex;
  justify-content: center;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  box-shadow: 0 5px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
} */

