body {
    background-color: #F8FFF6;
}

.ordersList {
    margin-top: 100px;
    height: 100px;
    background-color: #FFFFFF;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
    width: 1100px;

}


.listContainer {
    display: flex;
    align-items: center;
}

.DueCont{
    margin-left: 100px
}


.optionCont {
    margin-left: 400px;
}

.browser-default{
  width: 150px;
  height: 30px;
  padding: 5px;
  background-color: green;
}

.option1 {
    background-color: #C0C0C0;
}

.option2 {
    background-color: #6BE87F;
}
 
.option3 {
    background-color: #F3D052;
}
 
 

