body {
  background-color: #f8fff6;
}

.ordersList {
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
    margin-bottom: 20px;
}

.orderInfo {
  flex-grow: 1;
}

.listContainer {
  display: flex;
  align-items: center;
}

.browser-default {
  height: 35px;
  border-radius: 5px;
  background-color: #6be87f;
}

.option1 {
  background-color: #F5F5F5;
}

.option2 {
  background-color: #6be87f;
}

.option3 {
  background-color: #fff45a;
}

.dueDate {
    padding-right: 20px;
}
.input-field {
    margin-top: 0;
}

.orderID {
    font-weight: bold;
}