body {
  background-color: #f8fff6;
}

.main{
    margin: 0 25px;
    flex-grow: 1;
}

.main-item{
    color: black;
    flex-grow: 1;
}

.collection {
    border: 0;
    padding: 0 25px;
    padding-left: 25px !important;
    width: 100%;
}

.container{
    display: flex;
    align-items: center;
    border: white;
}

.RightPart{
    display: flex;
    flex-grow: 1;
}

.item{
    background: #F5F5F5;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    width: 100%;
    align-items: baseline;
    background: #F5F5F5;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    margin: 10px 0;
    padding: 5px 20px;
}

.itemsNames{
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.itemsNames h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.item_place{
    font-size: 24px;
    color: #5A5A5A;

}

.item_name{
    color: #2CBB3A;
}


.ArrowIcon{
    margin-top: 20px;
}

.playerButtons{
    margin-left: 50px;
}

.ingredients h4{
    margin-top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    color: #2CBB3A;
}

.header {
    display: flex;
    align-items: center;
}

.topDiv{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.ingredientItem{
    padding-left: 25px;
}

.ordersList {
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
  margin-bottom: 20px;
  padding: 30px;
  flex-direction: column;
}

.orderInfo {
  flex-grow: 1;
}

.listContainer {
  display: flex;
  align-items: center;
}

.browser-default {
  height: 35px;
  border-radius: 5px;
  background-color: #6be87f;
}

.option1, option {
  background-color: #F5F5F5;
}

.option2 {
  background-color: #6be87f;
}

.option3 {
  background-color: #fff45a;
}


.dueDate {
    padding-right: 20px;
}
.input-field {
    margin-top: 0;
}

.orderID {
    font-weight: bold;
}

.order {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.input-field.Delay{
    padding-left: 10px;
}

@media only screen and (max-width: 600px) {

    .itemsNames h4 {
        font-size: 10px;
    }
    .item_place{
        font-size: 18px;
        
    
    }
    .ingredients h4{
        font-size: 14px;
        margin-top: 35px;
        
    }
  .item{

    padding: 5px 10px;
}

.topDiv {
    flex-wrap: wrap;
}
}